body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue LT W05 55 Roman", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  line-height: 1.5;
  width: 100vw;
  

  --text: #494949;
  --lightblue: #21a3d9;
  --shadow: rgba(0, 0, 0, 0.3);
  --shadow-light: rgba(0, 0, 0, 0.2);
  --pink: #ebbcb3;

  --blue: #02548e;
  --lime: #7ff7ba;
  --darkblue: #0d114e;
  --light-purple: #a799e6;
  --dark-purple: #6f0b6f;
  --yellow: #ebc403;
  --magenta: #c9096e;
  --crimson: #bf040b;

  --rotate: rotate(-5deg);
  color: var(--text);
}

.chat-container {
  z-index: 9;
  position: fixed;
  bottom: 30px;
  right: 30px;
  .chat-button {
    outline: none;
    border: none;
    position: relative;
    height: 54px;
    width: 54px;

    border-radius: 50%;
    transition: all 0.3s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: var(--lightblue);
     box-shadow: -3px 3px 5px var(--shadow);
    svg {
      margin-top: 7px;
    }
  }
}

.chat-box-cnt {
  position: fixed;
  bottom: 98px;
  right: 30px;
  max-height: calc(100% - 100px);
  width: 350px;
  background: white;
  border-radius: 0.5rem;
  overflow: hidden;
  z-index: 10;
  box-shadow: -3px 3px 15px var(--shadow-light);
  @media (max-width: 400px) {
    width: 90vw;
    right: 5%;
  }
  .chat-box {
    height: calc(100% - 3rem);
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .exit {
    position: absolute;
    right: 13px;
    top: -4px;
    cursor: pointer;
    transform: rotate(45deg);
    font-size: 40px;
    opacity: 0.8;
  }
}

.callout-cnt {
  position: fixed;
  padding: 1em;
  bottom: 15px;
  right: 83px;
  display: flex;
  align-items: center;
  .callout {
    max-width: 220px;
    background-color: white;
    border-radius: 5em;
    position: relative;
    padding: 0.8em 1.4em 0.8em 1em;
    border-radius: 3px;
    box-shadow: -2px 2px 10px var(--shadow);
    border-right: 3px solid var(--lightblue);
    cursor: pointer;
    &::after {
      position: absolute;
      right: -10px;
      bottom: 16px;
      content: "";
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid var(--lightblue);
    }
  }
  @media (max-width: 500px) {
    font-size: 0.9rem;
  }
}

.callout-exit-button {
  position: absolute;
  bottom: 50%;
  right: 10px;
  padding: 0 0.45em;
  background-color: white;
  border-radius: 100%;
  transform: rotate(45deg);
  box-shadow: -2px 5px 15px var(--shadow);
  cursor: pointer;
  font-size: 20px;
  transform: translate(21%, -25%) rotate(45deg);
  &:focus {
    outline: none;
  }
}

iframe {
  border: none;
}
